{% extends 'website/layout.html' %}
{% block main %}

<div class="contact-div spacing">
    <form id="form" class="form" method="post" action="{% url 'contact' %}">
        {%csrf_token%}
        <h3 class="request"><h2>{{ title }}</h2></h3>
        <div class="container">
            <div class="row-1">
                <div class="col name"><input class="uniform" type="text" name="name" placeholder="Name" size="10" required></div>
                <div class="col name"><input class="uniform" type="text" name="company" placeholder="Company / Organization" size="10" required></div>
            </div>   
            <div class="row-2">
                <div class="col name"><input class="uniform" type="email" name="email" placeholder="Email" size="10" required></div>
                <div class="col name"><input class="uniform" type="text" name="number" placeholder="Phone Number" size="10" pattern="[0-9]{10}" required></div>
            </div>
        </div>
        <div class="textarea-div">
            <textarea class="uniform" name="info" title="Text" class="form-control" name="" id=""  cols="35" rows="" placeholder="Tell Us Something" required></textarea>
        </div>
        <div class="row additional">
            <button data-submit-url="{% url 'contact' %}" id="" type="submit" class="request-button submit">Submit</button>
        </div>
    </form>

</div>
<script>
    document.getElementById("contact_submit").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the form from submitting normally
  
      // Assuming a successful form submission
      // You would typically use AJAX to send the form data to the server
      // and get a response back to determine success or failure
  
      // Simulate a successful submission
      const isSuccessful = true;
  
      if (isSuccessful) {
        alert("Form submitted successfully!"); // Display a simple alert
        // You can replace this alert with a more user-friendly notification
      } else {
        alert("Form submission failed. Please try again.");
      }
    });
  </script>
{% endblock %}