@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500&family=Montserrat:wght@100;200;400;500;600;700;800;900&family=Roboto&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, p {
    font-family: 'Roboto' ;
    font-weight: normal ;
}
.header
{
}
.intro
{
    display: flex;
    justify-content: flex-end;}
.name
{
    color: black;
    cursor: pointer;
    align-self: flex-start;
}
.contact
{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
    text-transform: uppercase;
    width: 100%;
    background-color: grey;
    padding: 0 5%;
    display: flex;
    justify-content: flex-end;
}
.contact-child
{
    padding: 0 20px;
    text-decoration: none;
    color: #c8a446;
    font-weight: bold;
    
}
.contact-child:hover
{
    color: black;
}
.border-left
{
    border-left: 2px solid #c8a446;
}

.contact-child:hover {
    text-decoration: underline;
 }

 .navigation
 {
    background-color: black;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
 }
 .logo{
    width: 30%;
    display: flex;
    justify-content: center;
 }
 .logo-img
 {
    align-self: center;
    cursor: pointer;
 }
 .nav{
    /* border: 2px solid red; */
    width: 70%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
 }
 .links
 {
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0px 0px 2px 0px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    line-height: 28px;
    cursor: pointer;
    padding-bottom: 2px;
    flex-wrap: wrap;

 }

.link-child{
    padding: 20px 2%;
}
.link-child:hover
{   
    transition: .3s;
    transform: scale(1.1);
   text-decoration: underline;
   color: #c8a446;
   /* text-decoration-color: #c8a446; */
   padding-bottom: 5px;
}
.banner
{
    width: 100%;
    display: flex;
    background-position: center;
    height: 250px;
    background-image: url("https://images.pexels.com/photos/210873/pexels-photo-210873.jpeg?auto=compress&cs=tinysrgb&w=400");
}
.overlay
{
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    padding: 30px 5%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.banner-desc
{
    font-family: Barlow Condensed, sans-serif;   
    font-size: 35px;
    color: #FFF;
    margin-bottom: 0px;
    font-weight: 300;
    align-self:flex-end;
    margin-right: 0;
}
.nav-2
{
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* border: 1px solid red; */
    margin: 10px 10%;
    
}
.links-secondary
{   
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.links-child-2
{
    padding: 10px 0;
    list-style-type: none;
    cursor: pointer;
    color: #c8a446;
    padding: 5px 1.5%;
    border: 1px solid white;
}
.links-child-2:hover
{
    background-color: #c8a446;
    color: white;
}
.footer
{
    width: 100%;

}
.main-footer
{
    background-color: black;
}
.copyright
{
    width: 100%;
    padding: 20px 10%;

}
.section-child
{
    width: 100%;
    padding: 20px 0;
    /* background-color: white; */
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
    column-gap: 4%;
}
.footer
{
    width: 100%;
    padding: 30px 10%;
    background-color: black;
}
.footer-child
{
    color: white;
    width: 22%;
    padding: 20px 2.5%;
    background-color: black;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    row-gap: 10px;

}
.footer-list
{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    cursor: pointer;
}
.map
{
    width: 46%;
    padding: 0;
}
.copyright
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: grey;
    color: rgb(61, 61, 61);
    text-decoration: none;
    column-gap: 20px;
}
a{
    text-decoration: none;
    color: rgb(61, 61, 61);
    /* border-left: 1px solid rgb(61, 61, 61); */
    padding-left: 20px;
}
.quote
{
    background-color: #c8a446;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    padding: 40px 0;
}
.get-quote
{
    line-height: 1.25rem;
    font-size: larger;
    font-weight: 400;
    color: white;
}
.contact-text
{
    color: white;
}
.request-button
{
    padding: 8px 5%;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #c8a446;
    transition: .2s;
}
.request-button:hover{
    border: 2px solid white;
    background-color: #755a15;
    color: white;
}
.section-form
{
    display: flex;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/2990835/pexels-photo-2990835.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* width: 80%; */
    /* background-color: red; */
    background-size: cover;
}
.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: 200;
    /* row-gap: 20px; */
}
::placeholder
{
    margin-left: 5%;
    padding: 0 5%;
}
.name
{
    width: 90%;
}
.additional
{
    margin: 15px 0;
    font-weight: 700;
    color: black;
}
.selection
{
    display: flex;
    justify-content: space-between;
}
row, select
{
    width: 50%;
}
.request
{
    font-family: Barlow Condensed, sans-serif;
    line-height: 1.5em;
    color: black;
    font-weight: 700;
    font-size: x-large;
    padding: 20px 0;
}
.checkbox
{
    display: flex;
    column-gap: 30%;
    background-color: white;
    /* justify-content: space-evenly; */
}
.row-1
{
    display: flex;
    flex-direction: column;
}
label
{
    margin: 10px;
}
.start
{
    align-self: flex-start;
}
input[type="date"] {
    font-family: 'Montserrat', sans-serif; /* Change to your desired font */
    font-size: 16px; /* Change to your desired font size */
    color: rgb(51, 51, 51); /* Change to your desired text color */
    /* Add more styles as needed */
}
.submit
{
    padding: 15px 20px;
    align-self: initial;
}
